<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .checked {
  color: orange;
}
h4{
  font-family: "Lucida Console", "Courier New", monospace;
}
.font1{
  font-family: "Lucida Console", "Courier New", monospace;
}

</style>
</head>
<body>
  

  
  <section class="home" id="home" >

    <div class="row" style="background-color: rgb(205, 209, 208);margin-left:70px;margin-right:70px;height: 470px;">

        <div class="content">
          <p>SPRING / SUMMER COLLECTION 2021</p>
            <h4 style="font-size:xx-large"><b>Get up to 30% Off</b></h4>
            <h4 style="font-size:xx-large"><b>New Arrivals</b></h4><br>
            
            <a  routerLinkActive="active" routerLink="/products" class="btn btn-danger">SHOP NOW</a>
            <!--<a href="#" class="btn btn-success">shop now</a>-->
        </div>

        <div class="swiper books-slider">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide"><img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fe3%2F3a%2Fe33aa817106b3df6b089fc01e137e040463ad1f0.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" alt=""></a>
                
            </div>
            &nbsp;
           <!-- <img src="assets/stand.png" class="stand" alt="">-->
        </div>

    </div>

</section>
<br>

<div class="container" style="background-color: rgb(223, 226, 226);margin-left:130px;margin-right:40px;">

  <h3 style="text-align:center;padding-top:10px;color:rgb(114, 8, 8);">+Extra 10% off for Members, 15% off for New Members</h3>
  <p style="text-align:center;">Join now,it's free. Applies automatically on cart.Valid till 31/12/2021 11:59 PM.</p>
  <a href="#" routerLinkActive="active" routerLink="/signup" class="btn btn-dark" style="margin-left:510px;margin-bottom: 20px;">JOIN NOW</a>



</div>
  
  
  
  <div class="container" style="padding-top: 70px;padding-left:8%;">
    <h3 style="padding-left: 36%;">Trending right now</h3>
    <br>
    <div class="row" style="padding-top:20px">
      
      
      <div class="col-sm-3">
        <div class="card-deck">
            
              <img class="card-img-top rounded-circle" src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F07%2F99%2F07999313eeebbc1e70965de1d6756f68310a9972.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" style="width:160px;height:120px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" >Ladies</h5>
                <p class="card-text" ><b>Tops & T-shirts</b></p>
              
  
              
      </div>
      </div>
      </div>
      <div class="col-sm-3">
        <div class="card-deck">
            
              <img class="card-img-top rounded-circle" src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F87%2Ff8%2F87f80f5f972409e4600b93b5c6e689c345c2de2b.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" style="width:160px;height:120px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" >Men</h5>
                <p class="card-text"><b>Hoodies & Sweatshirts</b></p>
                
      </div>
      </div>
      </div>
      <div class="col-sm-3">
        <div class="card-deck">
            
              <img class="card-img-top rounded-circle" src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F54%2Ff4%2F54f42227175631cf5bde28e224875870dccbba02.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" style="width:160px;height:120px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" >Ladies </h5>
                <p class="card-text" ><b>Dresses</b></p>
                
      </div>
      </div>
      </div>
      <div class="col-sm-3">
        <div class="card-deck">
            
              <img class="card-img-top rounded-circle" src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F2b%2F74%2F2b749fde1a54236053b50e195f11898fe20ad09b.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" style="width:160px;height:120px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" >Men</h5>
                <p class="card-text" ><b>T-shirts & Tanks</b></p>
                
      </div>
      </div>

     
    </div>
  </div>
  </div>



  <div class="container-fluid" style="padding-left:40px;padding-right: 40px;padding-bottom: 100px;">
    <h3 class="font1" style="text-align: center;">REVIEWS</h3><br>
    <div class="d-flex flex-row flex-nowrap">
        <div class="card card-body" >
          <img class="card-img-top" src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F11%2F34%2F113465e335aca0e443afa0068e585a0b28501555.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" alt="Card image cap" style="height: 400px;">
              <div class="card-text">
                <h4 class="card-title" style="text-align:center">Chain-belt shirt dress</h4>
                
                <div class="price" style="text-align:center"><span><i style="font-size:13px" class="fa">&#xf156;</i>&nbsp;1,499</span></div><br>
                    <div class="stars" style="text-align:center">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                        
                </div>
          
                
              </div>
        </div>
        <div class="card card-body">
          <img class="card-img-top" src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fbb%2F58%2Fbb58ee9123e3803163b2fa3b5dd2d7a180224830.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" alt="Card image cap" style="height: 400px;">
              <div class="card-text">
                <h4 class="card-title" style="text-align:center">Regular Fit Hoodie</h4>
                
                <div class="price" style="text-align:center"><span><i style="font-size:13px" class="fa">&#xf156;</i>&nbsp;1,999</span></div><br>
                    <div class="stars" style="text-align:center">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                        
                </div>
          
                
              </div>
        </div>
        <div class="card card-body"><img class="card-img-top" src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fb8%2F59%2Fb859b9f216df5af43dd596d88e509e418b73beff.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" alt="Card image cap" style="height: 400px;">
          <div class="card-text">
            <h4 class="card-title" style="text-align:center">Sequined top</h4>
            
            <div class="price" style="text-align:center"><span><i style="font-size:13px" class="fa">&#xf156;</i>&nbsp;2,999</span></div><br>
                <div class="stars" style="text-align:center">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                    
            </div>
      
            
          </div></div>
        <div class="card card-body"><img class="card-img-top" src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F45%2Fb7%2F45b7644a7eb86a9dd905b1e4a8eea67b8ed820ed.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5Bmen_tshirtstanks_longsleeve%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" alt="Card image cap" style="height: 400px;">
          <div class="card-text">
            <h4 class="card-title" style="text-align:center">Regular Fit Cotton rugby shirt</h4>
            
            <div class="price" style="text-align:center"><span><i style="font-size:13px" class="fa">&#xf156;</i>&nbsp;1,499</span></div><br>
                <div class="stars" style="text-align:center">
                  <span class="fa fa-star checked" ></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                    
            </div>
      
            
          </div></div>
        
        
    </div>
</div>


<section class="deal" style="padding-bottom: 150px;">

  <div class="content">
      <h2>Deal of the day</h2>
      <h4>upto 50% off</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde perspiciatis in atque dolore tempora quaerat at fuga dolorum natus velit.</p>
      <a  routerLinkActive="active" routerLink="/products">Shop now ></a>
  </div>

  <div class="image">
      <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fe7%2F72%2Fe772920088f3438b655d9a15871c947e5f82cff8.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" alt="" align="right">
  </div>
  
</section>

  

  




<footer class="nb-footer">
<div class="container ">
<div class="row">
<div class="col-sm-12">
<div class="about">
  <img src="images/logo.png" class="img-responsive center-block" alt="">
  <p><b>Connect with us.</b></p>

  <div class="social-media">
    <ul class="list-inline">
      <li><a href="https://www.facebook.com/Amazon/" title=""><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/amazon?lang=en" title=""><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/company/amazon" title=""><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Help Center</h2>
  <ul class="list-unstyled">
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> How to Pay</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Sitemap</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Delivery Info</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Customer information</h2>
  <ul class="list-unstyled">
    <li><a  href="#" routerLinkActive="active" routerLink="/about" ><i class="fa fa-angle-double-right"></i>About us</a><!--<a href="#" title=""><i class="fa fa-angle-double-right"></i> About Us</a>--></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Sell Your Items</a></li>
    <li><a  href="#" routerLinkActive="active" routerLink="/contact" ><i class="fa fa-angle-double-right"></i>Contact us</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> RSS</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Security & privacy</h2>
  <ul class="list-unstyled">
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Terms Of Use</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Return / Refund Policy</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Store Locations</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Let Us Help You</h2>
  <ul class="list-unstyled">
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Covid-19 and Amazee</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> 100% Purchase Protection </a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Amazee App Download</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Amazee Assistant Download</a></li>
  </ul>
  
</div>
</div>
</div>
</div>

<section class="copyright">
<div class="container">

<p style="text-align: center;">Copyright © 2021 COLOSHOP.</p>

</div>
</section>
</footer>
</body>
</html>


 